<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081274275068-bcjg7ppmg2rpud2q71926t7o32amjghj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081274275068-bcjg7ppmg2rpud2q71926t7o32amjghj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1081274275068-8hp1kq00lmoqtalhkmn3n71nuhji0ipn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgkVxzPm4aAGYBywznzLGu-zo-brmH-eU</string>
	<key>GCM_SENDER_ID</key>
	<string>1081274275068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile.masterpieapp</string>
	<key>PROJECT_ID</key>
	<string>masterpie-389519</string>
	<key>STORAGE_BUCKET</key>
	<string>masterpie-389519.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081274275068:ios:684ae9069963f8838df379</string>
</dict>
</plist>